.list-container {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
    
    font-size: 0.9em;
    height: auto;
    
}

.list-container > a {
    border-inline-start: 4px solid var(--border-color);
    opacity: 0.9;
    display: block;
    width: 20vw;
    cursor: pointer;
    transition: all 200ms ease;
    padding: 0.4vw;
    padding-left: 1vw;
}


.list-container > a > ul {
    list-style-type: none;
}



.dark .list-container > a {
    opacity: 0.5;
}

.list-container > a:hover {
    opacity: 1;
    text-decoration: underline;
    border-inline-start-color: var(--border-hover);
}

.active {
    background-color: var(--nav-bg);
    box-shadow: inset 0px 5px 15px var(--nav-bg), inset 0px -5px 15px rgba(255,255,255,0.4);
    opacity: 1 !important;
    scale: 1.01;
}

