.list-container {
    list-style-type: none;
    border-left: 2px solid var(--border-color);
    padding-left: 1vw;
    width: 100%;
    margin: 0;
    
}

.list-container > a {
    opacity: 0.7;
    display: block;
    width: 18vw;
    cursor: pointer;
    transition: opacity 200ms ease;
}



.dark .list-container > a {
    opacity: 0.5;
}

.list-container > a:hover {
    opacity: 1;
}

.active {
    background-color: var(--nav-bg);
    opacity: 1 !important;
}