---
const mobileName = "< A S >"
import ThemeToggle from './ThemeToggle'
---
<header>
    <div id="name-block">
        <h1 id="desktop-name">Anthony Scott</h1>
        <h1 id= "mobile-name"> {mobileName} </h1>
    </div>
    <div id="theme-toggle-block">
        <ThemeToggle client:load />
    </div>
</header>

<style>
    header {
        display: flex;
        
    }
    
    #name-block {
        flex-basis: calc(100%*5/6);
    }

    #theme-toggle-block {
        flex-basis: calc(100%*1/6);
        
        display: flex;
        justify-content: flex-end;
     
    }

    #mobile-name {
        display: none;
    }

    @media screen and (max-width: 750px){
        #mobile-name {
            display: block;
        }

        #desktop-name {
            display: none;
        }
    }
</style>