---
const front = "< ";
const end = " >";
const mobileName: string = `A S`;
import ThemeToggle from "./ThemeToggle/ThemeToggle";
import MobileNav from './MobileNav/MobileNav';
import Breadcrumb from './Breadcrumb/Breadcrumb'
---

<header>
    <div id="top-line">
        <div id="name-block">
            <h1 id="desktop-name">
                Anthony<span class="logo-color"> Scott</span>
            </h1>
            <h1 id="mobile-name">
                {front}<span class="logo-color">{mobileName}</span>{end}
            </h1>
        </div>
        <div id="theme-toggle-block">
            <ThemeToggle client:load />
        </div>
    </div>
    <nav>
        <MobileNav client:visible />
        <Breadcrumb client:visible />
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
    
        padding-left: 3vw;
        padding-right: 3vw;

        background-color: inherit;

        z-index: 10;
    }
    #top-line {
        display: flex;
        align-items: center;
    }

    #name-block {
        flex-basis: calc(100% * 5 / 6);
    }

    #theme-toggle-block {
        flex-basis: calc(100% * 1 / 6);

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo-color {
        color: var(--logo-color);
    }

    #mobile-name {
        display: none;
    }

    nav {
        display: none;
    }

    @media screen and (max-width: 750px) {
        #mobile-name {
            display: block;
        }

        #desktop-name {
            display: none;
        }

        nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

</style>
