---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar/TopBar.astro';
import ScrollSideBar from '../components/ScrollBar/ScrollBar.astro'
---

<Layout title="Anthony Scott">
	<TopBar />

	<main>
		<section id="about">about</section>
		<section id="projects">projects</section>
		<section id="portfolios">portfolios</section>
		<section id="skills">skills</section>
		<section id="contact">contact</section>
	</main>

	<ScrollSideBar />
</Layout>

<style>
	main {
		width: 40vw;

		padding-top: 30vh;
	}

	section {
		height: 500px;
		display: flex;
		align-items: center;
	}
</style>
