#mobileNav {
    border: 1px solid var(--logo-color);
    width: 120px;
    border-radius: 3vw;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vw;
    padding: 1vw;

    z-index: 10;
}

#mobileNav > h2 {
    margin: 0;
    font-size: 22px;
}



#dropdownMenu {
    width: 80vw;
    position: absolute;
    left: 0;
    top: 17.5vh;

    background-color: var(--bg-color);

    border: 1px solid var(--logo-color);
    border-radius: 3vw;
    margin-left: 3vw;
    padding: 0;

    overflow: hidden;

    z-index: 12;
}

.list > li {
    margin-bottom: 0.5vh;
    margin-right: 2.5vw;
}

#dropdownMenu > ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdownLink  {
    display: block;
    padding-left: 2vw;
    width: 100%;
}

