#mobileNav {
    border: 1px solid var(--logo-color);
    width: 120px;
    border-radius: 3vw;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vw;
    padding: 1vw;

    z-index: 10;
}

#mobileNav > h2 {
    margin: 0;
    font-size: 22px;
}

#dropdownMenu {
    position: absolute;
    left: 0;
    top: 20vh;
}

#dropdownMenu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdownLink  {
    display: block;
    width: 100%;
}

