---

---


<aside>
    <div id="photo">
        <img src="/IMG_9807.jpg" />
    </div>
</aside>


<style>
    aside {
        position: fixed;
        left: 0;
        top: 15vh;
        width: 30vw;

        display: flex;
        flex-direction: column;
        

        /* border: 1px solid red; */

        padding-left: 3vw;
    }

    img {
        max-height: 50vh;
        max-width: 15vw;
    }

    @media screen and (max-width: 600px){
        aside {
            display: none;
        }
}
</style>