---
import { Icon } from 'astro-icon';
---


<aside>
    <div id="photo">
        <img src="/IMG_9807.jpg" alt="Portrait of me" />
    </div>

    <div id="link-container-desktop">
        <div class="socials">
            <Icon name="bi:linkedin" height="100%" width="50px" style="color: #fff" />
            <p>LINKEDIN</p>
        </div>
        <div class="socials"></div>
        <div class="socials"></div>
    </div>
</aside>


<style>
    aside {
        position: fixed;
        left: 0;
        top: 15vh;
        width: 30vw;

        display: flex;
        flex-direction: column;
        

        /* border: 1px solid red; */

        padding-left: 3vw;
    }

    img {
        max-height: 50vh;
        width: 15vw;

        height: auto;
        width: auto; 
    }

    #link-container-desktop {
        width: 15vw;
        height: 30vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: 2vh;

        /* border: 1px solid red; */
    }

    .socials {
        /* opacity: 0.7; */
        background-color: var(--socials-color);
        border: 3px solid var(--socials-color);
        height: 25%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .25vh;
        gap: 2vw;

        color: white;
    }

    @media screen and (max-width: 1000px){
        aside {
            display: none;
        }
    }
</style>