---
import { Image } from 'astro:assets';
---


<aside>
    <div id="photo">
        <img src="/IMG_9807.jpg" alt="Portrait of me" />
    </div>
</aside>


<style>
    aside {
        position: fixed;
        left: 0;
        top: 15vh;
        width: 30vw;

        display: flex;
        flex-direction: column;
        

        /* border: 1px solid red; */

        padding-left: 3vw;
    }

    img {
        max-height: 50vh;
        width: 15vw;

        height: auto;
        width: auto; 
    }

    @media screen and (max-width: 1000px){
        aside {
            display: none;
        }
}
</style>