---
const { name, text, link } = Astro.props;
import { Icon } from "astro-icon";
---

<section>
  <a href={link} target="_blank" rel="noopener noreferrer">
    <div>
      <Icon name={name} height="100%" width="50px" style="color: #fff" />
      <p><strong>{text}</strong></p>
    </div>
  </a>
</section>

<style>
  section {
    height: 25%;
  }

  a {
    text-decoration: none;
  }

  div {
    opacity: 0.9;
    background-color: var(--socials-color);
    border: 3px solid var(--socials-color);
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25vh;
    gap: 2vw;

    color: white;
  }

  div:hover {
    opacity: 1;
    cursor: pointer;
  }

  p {
    font-size: 20px;
  }
</style>
