---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	
</html>
<style is:global>
	:root {
		box-sizing: border-box;
		--border-color: rgba(216, 134, 11, 0.2);
		--nav-bg: rgba(255, 204, 137, 0.4);
		--border-hover: rgba(32, 25, 99);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
		margin: 0;
		padding: 0;
		height: 100%;
	}

	body{
		display: flex;
		justify-content: center;

		margin: 0;
		padding: 0;
	}
	.dark {
		background-color: #2e2336 ;
		color: white;
		--border-color: white;
	}
</style>
