---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	
</html>
<style is:global>
	:root {
		box-sizing: border-box;
		--bg-color: #f6f6f6;
		--logo-color: rgba(216,134,11);
		--socials-color: #061f33;
		

		/* Navbar colors */
		--border-color: rgba(216, 134, 11, 0.2);
		--nav-bg: rgba(255, 204, 137, 0.4);
		--border-hover: rgba(6,31,51);
	}
	.dark {
		/* background-color: #2e2336; */
		color: white;
		/* --logo-color: rgba(216,134,11); */
		--bg-color: #061f33;
		--socials-color: black;
		
		
		--border-color: white;
		--nav-bg: rgba(31,33,35,0.4);
		--border-hover: rgba(48, 54, 51);

	}


	html {
		font-family: system-ui, sans-serif;
		
		margin: 0;
		padding: 0;
		height: 100%;
	}

	body{
		display: flex;
		justify-content: center;

		margin: 0;
		padding: 0;

		background-color: var(--bg-color);
	}
</style>
